<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <%- style %> <!--take the style from body and apply over all the layout-->
</head>
<body>
    <%- include('_header'); %>
    
    <main id="layout-main">
        <%- body %> <!-- this is the variable part-->
    </main>
    

    <%- include('_footer'); %>

    <%- script %><!--take the script from body and apply over all the layout-->
    
</body>
</html>