<link rel="stylesheet" href="<%=assetPath('/css/user_profile.css') %>">



<div>
    <% if(user.id == profile_user.id){ %> 
        <!-- if the user matches then show the form -->
        <div>
            <img src="<%= profile_user.avatar %>" alt="<%= profile_user.image %>" width="100">
        </div>
        
        <form action="/users/update/<%= profile_user.id %>" id="edit-profile-form" enctype="multipart/form-data" method="POST" >
            <h2>Edit Profile</h2>
            <label for="profile-name">New Name</label>
            <input type="text" name="name" id="profile-name" placeholder="New name" value="<%= profile_user.name %>" required>
            <label for="profile-email">New Email</label>
            <input type="email" name="email" id="profile-email" placeholder="New Email" value="<%= profile_user.email %>" required>
            <label for="profile-pic">Profile Pic</label>
            <input type="file" name="avatar" id="profile-pic" placeholder="Profile Picture">
            <input type="submit" value="Update">
        </form>
    <% } else { %>
        <!-- else show only the profile info -->
        <div>
            <img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" width="100">
        </div>
        <p><span>User:</span> <span><%= profile_user.name %></span></p>
        <p><span>Email:</span> <span><%= profile_user.email %></span></p>
        <% if(isFriend){ %>
            <form action="/friends/remove-friend/?from_id=<%=user._id %>&to_id=<%=profile_user._id %>" class="friend-btn" method="POST">
                <button type="submit" >Remove Friend</button>
            </form>
        <% }else{ %>
            <form action="/friends/create-friend/?from_id=<%=user._id %>&to_id=<%=profile_user._id %>" class="friend-btn" method="POST">
                <button type="submit">Add Friend</button>
            </form>
        <% } %> 

    <% } %> 
</div>